body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(70, 194, 200);
  background-color: rgba(70, 193, 200, 0.252);
}

.input-container {
  margin-bottom: 20px;
  justify-content: center;
}

.header,
.footer {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.server-list,
.log-list {
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  height: 95vh;
  width: 0%;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.server-list h2,
.log-list h2 {
  margin-bottom: 10px;
  text-align: left;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.margin-top-input{
   margin-top: 80px;
}

.input-group button {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid rgb(70, 194, 200);
  border-radius: 10px;
  background-color: white;
  color: rgb(70, 194, 200);
  cursor: pointer;
  margin-right: 10px;
}

.input-group input[type="text"] {
  width: 250px;
  height: 30px;
  padding: 3px;
  font-size: 16px;
  background-color: white;
  border: 2px solid rgb(70, 194, 200);
  border-radius: 8px;
  margin-right: 10px;
}

.input-group input[type="text"]:focus {
  color: black;
  outline: none;
  border-color: rgb(70, 194, 200);
}

.input-group button:hover {
  background-color: rgb(70, 194, 200);
  color: white;
}

.input-group button:first-child {
  margin-right: 10px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 3px;
  font-size: 16px;
  margin-right: 10px;
}

button:hover {
  background-color: rgb(129, 10, 159);
  color: white;
}

.server-list li {
  margin-bottom: 10px;
}

.server-name {
  font-weight: bold;
}

.server-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.responseTableContainer {
  padding: 0 20px;
  /* Espacio en el borde izquierdo y derecho */
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

#responseTable {
  margin: 0 auto;
  /* Centrar la tabla horizontalmente */
}

.responseTable {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

#responseTable th,
#responseTable td {
  border-radius: 8px;
  border: 2px solid black;
  width: 200px;
  padding: 25px;
  text-align: center;
  background-color: rgb(176, 101, 162);
  color: white;
  font-family: "Segoe UI";
}

td {
  position: relative;
  justify-content: center;
}

td button {
    width: 38px;
    height: 38px;
    border: none; 
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
  }
  
  td button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  }
  

td button:hover {
  background-color: rgb(70, 194, 200);
}

td button:hover::before {
  left: -30px;
  top: -30px;
}

#keywordBox, #emailBox {
opacity: 0.5; 
text-align: center; 
border-radius: 5px;
margin: 10px 30px;
}


.top-right {
position: absolute;
top: 10px;
right: 10px;
z-index: 1000;
}

#logsButton {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid rgb(70, 194, 200);
  border-radius: 10px;
  background-color: rgb(70, 194, 200);
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

#logsButton:hover {
background-color: white ;
border: 2px solid rgb(70, 194, 200);
color: rgb(70, 194, 200);
}


.server-list {
position: relative;
}


.logs {
  margin: 0px 30px;
}

.log-entry {
  white-space: pre-wrap;
  text-align: left;
  font-family: monospace;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.logList {
  color: rgb(19, 19, 19);
  max-height: 400px;
  overflow-y: auto;
}
